{% extends "base.html" %}


{% block page_title %}Login{% endblock %}


{% block extrahead %}{% endblock %}


{% block page_header_text %}Log In{% endblock %}


{% block content %}

    <form action="" method="post">{% csrf_token %}

        {{ form.as_p }}
        <input type="submit" value="Log In"/>
        <input type="hidden" name="next" value="{{ next }}">

    </form>

{% endblock %}
