html {
    height: 100%;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1, h2, h3, h4 {
    font-family: 'fantasy', sans-serif;
}

h1 {
    margin: 10px;
    color: white;
    font-size: 4em;
}

h2, h2 a, h2 a:visited {
    color: teal;
    font-size: 3em;
}

h3, h3 a, h3 a:visited {
    color: #333333;
}

h4, h4 a, h4 a:visited {
    color: black;
}

#site-header {
    background-color: teal;
    margin-top: 0;
    padding: 1% 10% 0 10%;
}

a, a:visited, a:hover {
    color: teal;
    text-decoration: none;
}

/*.navbar-link a, .navbar-link a:visited, .navbar-link a:hover {*/
nav ul li a, nav ul li a:visited {
    color: white;
    font-size: 12pt;
    text-decoration: none;
    padding: 0 10% 0 10%;
}

nav ul li a:hover {
    color: black;
}

#container {
    width: 100%;
    min-height: 100%;
    position: relative;
}

#page-header {
    padding-left: 10%;
    padding-right: 10%;
}

.content {
    /*padding-left: 10%;*/
    /*padding-right: 10%;*/
}

#page-content {
    height: 100%;
    padding-bottom: 60px;
    padding-left: 10%;
    padding-right: 10%;
}

.site-footer {
    background-color: teal;
    position: absolute;
    padding-left: 10%;
    padding-right: 10%;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
}
