{% load static from staticfiles %}

<!doctype html>

<html lang="en">
{#{% load url from future %}#}


    <head>

        {# meta #}
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# css #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static "webapp/base.css" %}">

        {# fonts #}
{#        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">#}

        <title>{% block page_title %}{% endblock %} | Listpaper</title>
{#        {% include "components/favicon.html" %}#}

        {# This is where stuff specific to pages goes #}
        {% block extrahead %}{% endblock %}

    </head>


    <body>
        {# site header #}
        <div id="site-header">

            <h1>Listpaper</h1>
            <nav>
                <ul id="navbar" class="nav nav-pills">
                    {% include 'components/navbar.html' %}
                </ul>
            </nav>

        </div>

        <div id="container" class="content container">

            {# page header #}
            <div id="page-header">
                <a href="{{ request.path }}">
                    <h2 id="id_page_header_text">{% block page_header_text %}{% endblock %}</h2>
                </a>
                <a href="{{ api_url }}">view in api</a>
            </div>


            {# page content #}
            <div id="page-content" class="row">
                <div class="col-md-8">
                    {% block page_body %}
                        {% block content %}{% endblock %}
                    {% endblock %}
                </div>
            </div>


            {# site footer #}
            <div id="site-footer" class="site-footer">
                {% block footer %}{% endblock %}
            </div>

        </div>
    </body>

</html>
