{% block navbar %}

    <li role="presentation">
        <a href="{% url "home" %}" id="navbar-home" class="navbar-link">Home</a>
    </li>

    {% if user.is_superuser %}
        <li role="presentation">
            <a href="/admin/" id="dotwork-navbar-admin" class="navbar-link">Admin</a>
        </li>
    {% endif %}

    {% if user.is_authenticated %}
        <li role="presentation">
            <a href="{% url "django.contrib.auth.views.logout" %}" id="logout" class="navbar-link">Log Out</a>
        </li>
    {% else %}
        <li role="presentation">
            <a href="{% url "django.contrib.auth.views.login" %}" id="login" class="navbar-link">Log In</a>
        </li>
        <li role="presentation">
            <a href="{% url "register" %}" id="register" class="navbar-link">Sign Up</a>
        </li>
    {% endif %}

{% endblock %}
