{% extends "base.html" %}


{% block page_header_text %}My Listpapers{% endblock %}


{% block content %}
    {% for listpaper in listpapers %}
        <h3>{{ listpaper.name }}</h3>
        <ul>
            {% if listpaper.items %}
                {% for item in listpaper.items %}
                    <li><a href="{{ item.url }}">{{ item.text }}</a></li>
                {% endfor %}
            {% else %}
                <li><em>No items on this listpaper yet.</em></li>
            {% endif %}
        </ul>
    {% endfor %}
{% endblock %}
